@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap');

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  background-color: #000000;
  color: #ffffff;
}

@font-face {
  font-family: 'Billabong';
  src: url('https://db.onlinewebfonts.com/t/4f3782d87c4c15e1fcf2b3ccfb69e463.eot');
  src: url('https://db.onlinewebfonts.com/t/4f3782d87c4c15e1fcf2b3ccfb69e463.eot?#iefix') format('embedded-opentype'),
       url('https://db.onlinewebfonts.com/t/4f3782d87c4c15e1fcf2b3ccfb69e463.woff2') format('woff2'),
       url('https://db.onlinewebfonts.com/t/4f3782d87c4c15e1fcf2b3ccfb69e463.woff') format('woff'),
       url('https://db.onlinewebfonts.com/t/4f3782d87c4c15e1fcf2b3ccfb69e463.ttf') format('truetype'),
       url('https://db.onlinewebfonts.com/t/4f3782d87c4c15e1fcf2b3ccfb69e463.svg#Billabong') format('svg');
  font-weight: normal;
  font-style: normal;
}

@layer utilities {
  .instagram-gradient {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  }
}
